
/* general*/
.left {
  text-align: left;
}

/* splash*/
.spinner {
  margin: 200px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.title-app{
  font-size: 16px;
  font-weight: bold;
}

.item-img-circle{
  margin: 0 auto;
  text-align:center;
}

.item-img-circle img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  

}


/* mater*/
.error {
  color:red;
}

.error ons-row{
  margin-top: 100px; text-align: center;
}
.error h1{ 
  color:red;
}

.error p{
  color: #999; 
  font-size: 15px;
}



.last-update{
  font-size: 15px;
  margin: 15px 10px;
  text-align: right;
  padding: 4px;
  font-weight: bold;
}

.item-master {
  padding: 40px;
  line-height: 1;
  height: 60px;
}

.item-master-thum {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  margin-top: 10px;
}


.item-master-title{
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}





/**details*/
.item-detail {
  padding: 40px;
  line-height: 1;
}

.item-detail-title{
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}






.item-detail-label{
  line-height: 1.2;
  font-size: 16px;
  font-weight: bold;
}
.item-detail-value{
  line-height: 1.2;
  font-size: 14px;
}





.item-detail-cover-label {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
}

.today .item-detail-cover {
  text-align: right;

}
.yesterday .item-detail-cover {
  text-align: left;
}


ons-carousel-item.today{
  display: table;
  text-align: left;
}

ons-carousel-item.yesterday{
  display: table;
  text-align: right;
}





